.hero_container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 1px #4f4f4f82;
}

.hero_content {
  position: relative;
  margin-top: -2.5rem;
  display: flex;
  flex-direction: column;
}
.hero_content::before {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: linear-gradient(
    to top,
    #65e2ff 30%,
    #88e0eaf5 50%,
    #b9f2ffd4 70%
  );
  animation: wave-animation 0.8s infinite linear alternate;
}
@keyframes wave-animation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.hero_content > img {
  max-height: 90vh;
}

.hero_content > p {
  content: "";
  position: absolute;
  top: 65%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: "Italianno", cursive;
  font-size: 1.8rem;
  color: white;
}

@media screen and (min-width: 600px) {
  .hero_content > p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 769px) {
  .hero_content > p {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1220px) {
  .hero_content > p {
    font-size: 5.5rem;
  }
}
