/*styles for question component */

.q_container {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  /* max-width: 90%; */
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.q_container h2 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.q_text_container {
  display: flex;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 1rem;
  line-height: 1.6;
}

/* .q_text {
} */

.qContactInfo {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.qContactItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.qIcon {
  margin-right: 1.5rem;
  color: white;
}
