.filterview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.filterview .card {
  padding: 1.3rem;
}
.filterview .card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filter-input-wrapper label {
  margin-bottom: -0.5rem;
  margin-top: 1rem;
}

.filterview .card div button {
  align-self: center;
}
