.contact_form_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

/* .contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
} */

.contact_form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.contact_form input,
textarea {
  /*  padding: 0.7rem;
  margin: 0.7rem auto;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 3px 3px 0px darkgrey;
  width: 21rem;
  font-size: 1.2rem;
  outline: none; */
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact_form button {
  /*  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; */
  padding: 10px;
  /*   background-color: #000;
  color: #fff; */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.contact_form button:hover {
  background-color: #333;
}

.error {
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-weight: 600;
  margin-bottom: 10px;
}
