/* styles for user_view component */
.user_view_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 820px) {
  .contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
  }
  .intouch_section {
    width: 37%;
  }
  .q_container {
    max-width: 65%;
  }
  .contact_form {
    width: 400px;
  }
  .intouch_section {
    width: 400px;
  }
}
