/* Header */

.header_container {
  /* position: relative; */
  width: 100%;
  z-index: 10;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  background-color: #b7e7f8;
  box-shadow: inset 0px -8px 12px 0px #706b6b5e;
}

.items_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  background-color: #d5ecf4;
  margin: 0 0.6rem 0.6rem;
}

.logo {
  font-family: "Italianno", cursive;
  font-size: 2rem;
  font-weight: 400;
}

.login_group {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.admin_name_group {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.admin_icon {
  font-size: 1.5rem;
}
.admin_arrow {
  margin-left: 4px;
}

@media screen and (min-width: 769px) {
  .logo {
    font-size: 3rem;
  }
  .items_container {
    justify-content: space-between;
    padding: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .login_group,
  .logo {
    margin: 0 1rem;
  }
}
