* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* .logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

/* Header */
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

.header_container {
  background-color: #d5ecf4;
  box-shadow: 5px 5px 10px #aaaaaa;
  height: 8rem;
  display: flex;
  align-items: center;
}

.items_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.logo {
  font-family: "Italianno", cursive;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}

/* body {
  background-image: url("../public/img/e454e7f8-305d-4c84-a547-e66dbc33e828.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
} */

.headerBackground {
  width: 100vw;
  height: 150px;
}
