.cards-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
}

.card {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  border: 1.5px solid rgb(213, 236, 244);
  border-radius: 12px;
  transition: 0.3s;
}
.card-fastighet {
  width: 80%;
}
.card:hover {
  border: 2px solid rgb(156 207 225);
  scale: 1.03;
}

.card .box {
  padding: 0.8rem;
}

.img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.img-wrapper img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.arrow-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 12; */
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #0000005e;
}

.arrow-button button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button svg {
  color: white;
  font-size: 1.7rem;
}

.card header {
  display: flex;
  flex-direction: column;
}

.card-fastighets {
  text-transform: capitalize;
}

.card-fastighets p {
  font-size: 0.8rem;
  padding: 0.2rem 0;
}

.card .sub-title p {
  text-transform: capitalize;
  font-size: 0.8rem;
  margin: 0.8rem 0;
}

.card .area {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

footer.visas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem auto 0.4rem auto;
}

footer.visas small {
  font-size: 0.6rem;
}

footer.visas button {
  margin: 0;
}
.cards-wrapper-btn {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.cards-wrapper-btn button {
  padding: 0.4rem;
  font-size: 1rem;
}

/* visa mer btn  */
.cards-wrapper-btn {
  float: right;
  margin-right: 1rem;
}

@media screen and (min-width: 769px) {
  .card-fastighet {
    width: 45%;
  }

  .card header small {
    font-size: 0.8rem;
  }

  .arrow-button svg {
    font-size: 2rem;
  }

  /* .img-wrapper img {
    height: 18rem;
  } */
  footer.visas small {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1300px) {
  .card-fastighet {
    width: 32%;
  }
  .cards-wrapper {
    padding: 1rem;
  }
  .card header small {
    font-size: 0.8rem;
  }
  /* .img-wrapper img {
    height: 20rem;
  } */

  footer.visas small {
    font-size: 0.8rem;
  }
}
